extends logged_in_layout
block header
  script(src='/javascripts/nodes_ui.js')
block content
  .row
    .col-md-12
      h1.page-header Nodes
        .pull-right
          a.btn.btn-success(href='/nodes/new') Add a new node
  .row
    for currentNode in nodes
      .col-lg-3.col-md-6
        .panel.panel-green.nodeElement(data-nodeId='#{currentNode._id}', data-refreshRate='#{currentNode.refreshRate}')
          .panel-heading
            .row
              .col-xs-3
                i.fa.fa-tasks.fa-5x
              .col-xs-9.text-right
                .huge
                  span(id='#{currentNode._id}') --
                  |  #{currentNode.measurementUnit}
                div #{currentNode.nodeName}
          .panel-footer
            a(href='/nodes/#{currentNode._id}/edit')
              span.pull-left Edit
              span.pull-right
                i.fa.fa-arrow-circle-right.fa-fw
            .clearfix
            a(href='/nodes/#{currentNode._id}/delete')
              span.pull-left Delete
              span.pull-right
                i.fa.fa-trash.fa-fw
            .clearfix