extends logged_in_layout

block header
  script(src='/javascripts/nodes_ui.js')
  script(type='text/javascript', src='https://www.gstatic.com/charts/loader.js')
  script(type='text/javascript').
    var viewModel = !{JSON.stringify(viewModel)};
  script(type='text/javascript', src='/javascripts/node_detail_chart.js')

block content
  .row
    .col-lg-12
      h1.page-header Details

      .panel.panel-info
        .panel-heading
          h3.panel-title.clearfix
            div.pull-left #{viewModel.node.nodeName}
            div.pull-right
              | Current value: #{viewModel.lastValue} ℃
          div Displayed time range: &nbsp;
            .btn-group
              button(type="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="true").btn.btn-xs.btn-success.dropdown-toggle #{viewModel.offset} day(s) &nbsp;
                span.caret
              ul.dropdown-menu
                li
                  a(href="?offset=1") 1 day
                  a(href="?offset=7") 7 days
                  a(href="?offset=30") 30 days
                  a(href="?offset=365") 365 days
        .panel-body

          table.table.table-condensed.table-bordered
            thead
              tr.active
                th Minimum
                th Average
                th Maximum
                th Number of measurements
                th First measurement
                th Last measurement
            tbody
              tr
                td #{viewModel.minValue} ℃
                td #{viewModel.avgValue} ℃
                td #{viewModel.maxValue} ℃
                td #{viewModel.count}
                td #{viewModel.firstTimestamp}
                td #{viewModel.lastTimestamp}
          div(id='chart_div')

        .panel-footer
          a(href="#") Download dataset
